@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/general" as *;

.header {
    width: 100%;
    background-color: $BandSite-Black;
    &_nav{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        @include tablet {
            flex-direction: row;
        }
        &_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1rem 0 0 0;
            @include tablet {
                padding: 2.5rem 3rem;
            }
            @include desktop {
                padding: 2.5rem 3rem 2.5rem 6rem;
            }
            &_link {
                @include reset-link;
            }
            &_image {
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }
        &_list {
            @include reset-list;
            display: flex;
            justify-content: center;
            align-items: center;
            &_item {
                width: 50vw;
                height: 100%;
                padding: .5rem;
                text-align: center;
                color: $Mercury;
                @include demi;
                font-size: .875rem;
                line-height: 1.375rem;
                &:hover {
                    color: $White;
                    @include demi;
                    border-bottom: .2188rem solid $White;
                }
                &--active {
                    color: $White;
                    @include demi;
                    border-bottom: .2188rem solid $White;
                }
                @include tablet {
                    width: fit-content;
                    padding: 0;
                    margin: 0 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.25rem;
                }
            }
            &_link {
                @include reset-link;
            }
        }
    }
}

.main {
    width: 100%;
    &_hero {
        width: 100%;
        height: 12.5rem;
        position: relative;
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position: center;
        @include tablet {
            height: 44rem;
        }
        &_overlay {
            width: 100%;
            height: 100%;
            background-color: rgba($color: $BandSite-Black, $alpha: .5);
            position: absolute;
            top:0;
            left:0;
            display: flex;
            align-items: center;
        }
        &_title {
            margin: 0;
            padding: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include bold;
            color: $White;
            @include tablet {
                font-size: 5.5rem;
                padding: 0 0 0 3rem;
            }
            @include desktop {
                padding: 0 0 0 6rem;
            }
        }
    }
    &_about {
        width: 100%;
        background-color: $White;
        &_title {
            margin: 0;
            padding: 1.4rem 1rem 0rem 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include demi;
            color: $BandSite-Black;
            @include tablet {
                margin: 1rem 0;
                padding: 4.75rem 3rem 2.25rem 3rem;
                font-size: 3.375rem;
            }
            @include desktop {
                padding: 4.75rem 3rem 2.25rem 6rem;
            }
        }
        &_image {
            width: calc(100vw - 2rem);
            height: 10rem;
            margin: .5rem 1rem;
            background-image: url(../assets/Images/band.jpg);
            background-position: bottom;
            background-size: cover;
            @include tablet {
                width: calc(100vw - 18rem);
                height: 30rem;
                margin: 0 9rem;
                background-position: center;
            }
            @include desktop {
                width: calc(100vw - 24rem);
                margin: 0 12rem;
            }
        }
        &_qoute {
            margin: 1rem 1rem .25rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-Black;
            font-size: .875rem;
            line-height: 1.375rem;
            @include tablet {
                margin: 3rem 9rem 1rem 9rem;
                font-size: 2.0625rem;
                line-height: 3rem;
            }
            @include desktop {
                margin: 3rem 12rem 1rem 12rem;
            }
        }
        &_leader {
            margin: .5rem 1rem .5rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-Black;
            font-size: .875rem;
            line-height: 1.375rem;
            @include tablet {
                margin: 1rem 9rem;
                font-size: 1.5625rem;
                line-height: 3rem;
            }
            @include desktop {
                margin: 1rem 12rem;
            }
        }
        &_band {
            margin: 1.5rem 1rem 1rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-DarkBlack;
            font-size: .875rem;
            @include tablet {
                margin: 4rem 9rem 2rem 9rem;
                font-size: 2.25rem;
                line-height: 3rem;
            }
            @include desktop {
                margin: 4rem 12rem 2rem 12rem;
            }
        }
        &_paragraphs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include tablet {
                flex-direction: row;
                margin: 0 9rem;
            }
            @include tablet {
                margin: 0 12rem;
            }
            &_text {
                padding: 0;
                margin: 0 1rem;
                @include regular;
                color: $BandSite-Black;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    margin: 0;
                    line-height: 1.875rem;
                }
                &--left {
                    @include tablet {
                        padding-right: 1.5rem;
                    }
                    @include desktop {
                        padding-right: 4.5rem;
                    }
                }
                &--right {
                    @include tablet {
                        padding-left: 1.5rem;
                    }
                    @include desktop {
                        padding-left: 4.5rem;
                    }
                }
            }
        }
    }
    &_gallary {
        width: 100%;
        background-color: $Alabaster;
        &_title {
            margin: .7rem 0;
            padding: 1.4rem 1rem 0rem 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include demi;
            color: $BandSite-Black;
            @include tablet {
                margin: 1rem 0 0 0;
                padding: 4.75rem 3rem 2.25rem 3rem;
                font-size: 3.375rem;
            }
            @include desktop {
                padding: 4.75rem 6rem 2.25rem 6rem;
            }
        }
        &_photoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                margin: 0 3rem;
            }
            @include desktop {
                margin: 0 6rem;
            }
            &_photo {
                width: calc(100vw - 2rem);
                margin: 0 1rem 1rem 1rem;
                @include tablet {
                    width: 27.5vw;
                    margin: 0 0 4vw 0; 
                }
                @include desktop {
                    margin: 0 0 2vw 0; 
                }
            }
        }
    }
}
.footer {
    width: 100%;
    background-color: $BandSite-Black;
    color: $White;
    &_get {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            &_left {
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
            }
        }
        &_title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &_text {
                margin: .6rem 0;
                padding: 1.4rem 1rem 0rem 1rem;
                font-size: 1.5rem;
                line-height: 2rem;
                @include demi;
                @include tablet {
                margin: 1rem 0 0 0;
                padding: 4.75rem 1vw 2.25rem 3rem;
                font-size: 3.375rem;
                white-space: nowrap;
                }
                @include desktop {
                padding: 4.75rem 3rem 2.25rem 6rem;
                }
            }
        }
        &_icons {
            &_list {
                @include reset-list;
                display: flex;
            }
            &_item {
                padding: .5rem .8rem .5rem 1rem;
            }
            &_link {
                @include reset-link;
            }
            &_icon {
                height: 1.3rem;
            }
        }
        &_logo {
            display: none;
            @include tablet {
                display: flex;
                padding-right: 3rem;
                overflow: hidden;
                &_link {
                    @include reset-link;
                }
                &_image {
                    max-height: 1.25rem;
                    max-width: 7.5rem;
                }
            }
            @include desktop {
                padding-right: 6rem;
            }
        }
    }
    &_contact {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            margin: 0 3rem;
        }
        @include desktop {
            margin: 0 6rem;
        }
        &_person {
            display: flex;
            flex-direction: column;
            @include tablet {
                padding-right: 2em;
                max-width: 30vw;
                overflow-wrap: break-word;
            }
            @include desktop {
                padding-right: 5em;
            }
            &_name {
                margin: .5rem 0;
                @include demi;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: 1.3125rem;
                    line-height: 2rem;
                }
            }
            &_address {
                margin: .5rem 0;
                @include regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: 1.3125rem;
                    line-height: 2rem;
                }
            }
            &_email {
                margin: .5rem 0;
                @include regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    font-size: 1.3125rem;
                    line-height: 2rem;
                }
                &_link {
                    @include reset-link;
                }
            }
        }
    }
    &_copyright {
        padding-top: 4rem;
        &_logo {
            @include tablet {
                    display: none;
            }
            &_link {
                @include reset-link;
                padding-left: 1rem;
            }
            &_image {
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }
        &_text {
            margin: 0;
            padding: 1rem;
            @include regular;
            font-size: .6875rem;
            line-height: 1.125rem;
            @include tablet {
                padding: 0 0 3rem 0;
                margin: 0 0 0 3rem;
                font-size: 1.3125rem;
                line-height: 2rem;
            }
            @include desktop {
                margin: 0 0 0 6rem;
            }
        }
    }
}
