@font-face {
  font-family: "Avenir Regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("OpenType");
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("OpenType");
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("OpenType");
}
@font-face {
  font-family: "Avenir Regular ttf";
  src: url(../../assets/Font/Alternative/AvenirNextLTPro.ttf) format("TrueType");
}
@font-face {
  font-family: "Avenir Demi ttf";
  src: url(../../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("TrueType");
}
@font-face {
  font-family: "Avenir Bold ttf";
  src: url(../../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("TrueType");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.label {
  margin-bottom: 1rem;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #AFAFAF;
}

.box {
  border: 0.125rem solid #E1E1E1;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #FAFAFA;
  color: #000000;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.box:focus {
  border: 0.125rem solid #000000;
}

.invalid {
  border: 0.125rem solid #D22D2D;
}
.invalid::-moz-placeholder {
  color: #D22D2D;
}
.invalid::placeholder {
  color: #D22D2D;
}

.button {
  height: 2.5rem;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 0.25rem;
  border: none;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.button:hover {
  background-color: #000000;
}

.header {
  width: 100%;
  background-color: #323232;
}
.header__nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .header__nav {
    flex-direction: row;
  }
}
.header__nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 48rem) {
  .header__nav__logo {
    padding: 1.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav__logo {
    padding: 2rem 2.25rem 2rem 8rem;
  }
}
.header__nav__logo__link {
  text-decoration: none;
  color: inherit;
}
.header__nav__logo__image {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__list__item {
  width: 50vw;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
  color: #E1E1E1;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.header__nav__list__item:hover {
  color: #FFFFFF;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-bottom: 0.2188rem solid #FFFFFF;
}
.header__nav__list__item--active {
  color: #FFFFFF;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-bottom: 0.2188rem solid #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .header__nav__list__item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__nav__list__item {
    margin: 0 1.25rem;
  }
}
.header__nav__list__link {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
.footer__get {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__get {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__get__left {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}
.footer__get__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__get__title__text {
  margin: 0.6rem 0;
  padding: 1.4rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__get__title__text {
    padding: 3rem 1rem 1rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__get__title__text {
    padding: 3rem 2rem 2.25rem 8rem;
  }
}
.footer__get__icons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer__get__icons__item {
  padding: 0.5rem 0.8rem 0.5rem 1rem;
}
.footer__get__icons__link {
  text-decoration: none;
  color: inherit;
}
.footer__get__icons__icon {
  height: 1.3rem;
}
.footer__get__logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__get__logo {
    display: flex;
    padding-right: 2.25rem;
    overflow: hidden;
  }
  .footer__get__logo__link {
    text-decoration: none;
    color: inherit;
  }
  .footer__get__logo__image {
    max-height: 1.25rem;
    max-width: 7.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__get__logo {
    padding-right: 8rem;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    margin: 0 8rem;
  }
}
.footer__contact__person {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__contact__person {
    padding-right: 3rem;
    overflow-wrap: break-word;
  }
  .footer__contact__person--left {
    padding-right: 0;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact__person {
    padding-right: 5em;
  }
}
.footer__contact__person__name {
  margin: 0.5rem 0;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__contact__person__name {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__contact__person__address {
  margin: 0.5rem 0;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__contact__person__address {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__contact__person__email {
  margin: 0.5rem 0;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__contact__person__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__contact__person__email__link {
  text-decoration: none;
  color: inherit;
}
.footer__copyright {
  padding-top: 3rem;
}
@media screen and (min-width: 48rem) {
  .footer__copyright__logo {
    display: none;
  }
}
.footer__copyright__logo__link {
  text-decoration: none;
  color: inherit;
  padding-left: 1rem;
}
.footer__copyright__logo__image {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.footer__copyright__text {
  margin: 0;
  padding: 1rem;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__copyright__text {
    padding: 0 0 2.25rem 0;
    margin: 0 0 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__copyright__text {
    margin: 0 0 0 8rem;
  }
}

.main {
  width: 100%;
}
.main__hero {
  width: 100%;
  height: 12.5rem;
  position: relative;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 48rem) {
  .main__hero {
    height: 27.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__hero {
    height: 40rem;
  }
}
.main__hero__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.main__hero__title {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold", "Avenir Bold ttf", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .main__hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__hero__title {
    padding: 8rem;
  }
}
.main__about {
  width: 100%;
  background-color: #FFFFFF;
}
.main__about__title {
  margin: 0;
  padding: 1.4rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .main__about__title {
    padding: 3rem 2.25rem 1.5rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__title {
    padding: 3.5rem 3rem 2.25rem 8rem;
  }
}
.main__about__image {
  height: 10rem;
  margin: 0.5rem 1rem;
  background-image: url(../assets/Images/band.jpg);
  background-position: bottom;
  background-size: cover;
}
@media screen and (min-width: 48rem) {
  .main__about__image {
    height: 20rem;
    margin: 0 6rem;
    background-position: center;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__image {
    height: 28rem;
    margin: 0 13.5rem;
  }
}
.main__about__qoute {
  margin: 1rem 1rem 0.25rem 1rem;
  padding: 0;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .main__about__qoute {
    margin: 2rem 6rem 1rem 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__qoute {
    margin: 3rem 13.5rem 1rem 13.5rem;
  }
}
.main__about__leader {
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .main__about__leader {
    margin: 1rem 6rem;
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__leader {
    margin: 1rem 13.5rem;
  }
}
.main__about__band {
  margin: 1.5rem 1rem 1rem 1rem;
  padding: 0;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .main__about__band {
    margin: 3rem 6rem 1.5rem 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__band {
    margin: 4rem 13.5rem 2rem 13.5rem;
  }
}
.main__about__paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 48rem) {
  .main__about__paragraphs {
    flex-direction: row;
    margin: 0 6rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__paragraphs {
    margin: 0 13.5rem;
  }
}
.main__about__paragraphs__text {
  padding: 0;
  margin: 0 1rem;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .main__about__paragraphs__text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 48rem) {
  .main__about__paragraphs__text--left {
    padding-right: 0.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__paragraphs__text--left {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 48rem) {
  .main__about__paragraphs__text--right {
    padding-left: 0.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about__paragraphs__text--right {
    padding-left: 1rem;
  }
}
.main__gallary {
  width: 100%;
  background-color: #FAFAFA;
}
.main__gallary__title {
  margin: 0.7rem 0;
  padding: 1.4rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .main__gallary__title {
    padding: 3rem 2.25rem 1rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__gallary__title {
    padding: 3.5rem 3rem 2.25rem 8rem;
  }
}
.main__gallary__photoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .main__gallary__photoes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__gallary__photoes {
    margin: 0 8rem;
  }
}
.main__gallary__photoes__photo {
  width: calc(100vw - 2rem);
  margin: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 48rem) {
  .main__gallary__photoes__photo {
    width: 27.5vw;
    margin: 0 0 4vw 0;
  }
}
@media screen and (min-width: 80rem) {
  .main__gallary__photoes__photo {
    width: 25vw;
    margin: 0 0 2vw 0;
  }
}
.main__conversation {
  width: 100%;
  background-color: #FFFFFF;
}
.main__conversation__title {
  margin: 0;
  padding: 1.4rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .main__conversation__title {
    padding: 3rem 2.25rem 1rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__conversation__title {
    padding: 3.5rem 3rem 2.25rem 8rem;
  }
}
.main__conversation__form {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  border-bottom: 0.1875rem solid #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .main__conversation__form {
    margin: 1rem 6rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__conversation__form {
    margin: 1rem 24rem;
  }
}
.main__conversation__form__avatar__image {
  margin: 1.2rem 1rem 0 0;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-image: url(../assets/Images/Mohan-muruge.jpg);
  background-position: bottom;
  background-size: cover;
}
@media screen and (min-width: 48rem) {
  .main__conversation__form__avatar__image {
    height: 3rem;
    width: 3rem;
  }
}
.main__conversation__form__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__conversation__form__comment__name {
  padding-bottom: 0.75rem;
}
.main__conversation__form__comment__name__label {
  font-size: 0.625rem;
}
.main__conversation__form__comment__name__box {
  min-height: 2.25rem;
  padding: 0.625rem;
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .main__conversation__form__comment__name__box {
    min-height: 3rem;
  }
}
.main__conversation__form__comment__comment {
  padding-bottom: 0.75rem;
}
.main__conversation__form__comment__comment__label {
  font-size: 0.625rem;
}
.main__conversation__form__comment__comment__box {
  min-height: 6.5rem;
  padding: 0.625rem;
  font-size: 0.875rem;
  resize: none;
}
.main__conversation__form__comment__button {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: flex-end;
}
.main__conversation__form__comment__button__button {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .main__conversation__form__comment__button__button {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.main__conversation__comments {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .main__conversation__comments {
    margin: 1rem 6rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__conversation__comments {
    margin: 1rem 24rem;
  }
}
.main__conversation__comments__comment {
  margin-top: 1rem;
  border-bottom: 0.0625rem solid #E1E1E1;
  display: flex;
}
.main__conversation__comments__comment__avatar__image {
  margin: 0 1rem 0 0;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #E1E1E1;
}
@media screen and (min-width: 48rem) {
  .main__conversation__comments__comment__avatar__image {
    height: 3rem;
    width: 3rem;
  }
}
.main__conversation__comments__comment__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__conversation__comments__comment__comment__name {
  display: flex;
  justify-content: space-between;
}
.main__conversation__comments__comment__comment__name__name {
  margin: 0;
  font-family: "Avenir Demi", "Avenir Demi ttf", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .main__conversation__comments__comment__comment__name__name {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.main__conversation__comments__comment__comment__name__date {
  margin: 0;
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #AFAFAF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .main__conversation__comments__comment__comment__name__date {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.main__conversation__comments__comment__comment__text {
  font-family: "Avenir Regular", "Avenir Regular ttf", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .main__conversation__comments__comment__comment__text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */