@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/general" as *;

.main {
    width: 100%;
    &__hero {
        width: 100%;
        height: 12.5rem;
        position: relative;
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position: center;
        @include tablet {
            height: 27.5rem;
        }
        @include desktop {
            height: 40rem;
        }
        &__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba($color: $BandSite-Black, $alpha: .5);
            position: absolute;
            top:0;
            left:0;
            display: flex;
            align-items: center;
        }
        &__title {
            margin: 0;
            padding: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include bold;
            color: $White;
            @include tablet {
                font-size: 3.75rem;
                line-height: 4.25rem;
                padding: 2.25rem;
            }
            @include desktop {
                padding: 8rem;
            }
        }
    }
    &__about {
        width: 100%;
        background-color: $White;
        &__title {
            margin: 0;
            padding: 1.4rem 1rem 0rem 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include demi;
            color: $BandSite-Black;
            @include tablet {
                padding: 3rem 2.25rem 1.5rem 2.25rem;
                font-size: 2.25rem;
                line-height: 2.75rem;
            }
            @include desktop {
                padding: 3.5rem 3rem 2.25rem 8rem;
            }
        }
        &__image {
            // width: calc(100vw - 2rem);
            height: 10rem;
            margin: .5rem 1rem;
            background-image: url(../assets/Images/band.jpg);
            background-position:bottom;
            background-size: cover;
            @include tablet {
                height: 20rem;
                margin: 0 6rem;
                background-position: center;
            }
            @include desktop {
                height: 28rem;
                margin: 0 13.5rem;
            }
        }
        &__qoute {
            margin: 1rem 1rem .25rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-Black;
            font-size: .875rem;
            line-height: 1.375rem;
            @include tablet {
                margin: 2rem 6rem 1rem 6rem;
                font-size: 1.5rem;
                line-height: 2rem;
            }
            @include desktop {
                margin: 3rem 13.5rem 1rem 13.5rem;
            }
        }
        &__leader {
            margin: .5rem 1rem .5rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-Black;
            font-size: .875rem;
            line-height: 1.375rem;
            @include tablet {
                margin: 1rem 6rem;
                font-size: 1rem;
                line-height: 1.375rem;
            }
            @include desktop {
                margin: 1rem 13.5rem;
            }
        }
        &__band {
            margin: 1.5rem 1rem 1rem 1rem;
            padding: 0;
            @include demi;
            color: $BandSite-DarkBlack;
            font-size: .875rem;
            @include tablet {
                margin: 3rem 6rem 1.5rem 6rem;
                font-size: 1.5rem;
                line-height: 2rem;
            }
            @include desktop {
                margin: 4rem 13.5rem 2rem 13.5rem;
            }
        }
        &__paragraphs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include tablet {
                flex-direction: row;
                margin: 0 6rem;
            }
            @include desktop {
                margin: 0 13.5rem;
            }
            &__text {
                padding: 0;
                margin: 0 1rem;
                @include regular;
                color: $BandSite-Black;
                font-size: .8125rem;
                line-height: 1.125rem;
                @include tablet {
                    margin: 0;
                    font-size: .875rem;
                    line-height: 1.375rem;
                }
                &--left {
                    @include tablet {
                        padding-right: .75rem;
                    }
                    @include desktop {
                        padding-right: 1rem;
                    }
                }
                &--right {
                    @include tablet {
                        padding-left: .75rem;
                    }
                    @include desktop {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    &__gallary {
        width: 100%;
        background-color: $Alabaster;
        &__title {
            margin: .7rem 0;
            padding: 1.4rem 1rem 0rem 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include demi;
            color: $BandSite-Black;
            @include tablet {
                padding: 3rem 2.25rem 1rem 2.25rem;
                font-size: 2.25rem;
                line-height: 2.75rem;
            }
            @include desktop {
                padding: 3.5rem 3rem 2.25rem 8rem;
            }
        }
        &__photoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                margin: 0 2.25rem;
            }
            @include desktop {
                margin: 0 8rem;
            }
            &__photo {
                width: calc(100vw - 2rem);
                margin: 0 1rem 1rem 1rem;
                @include tablet {
                    width: 27.5vw;
                    margin: 0 0 4vw 0; 
                }
                @include desktop {
                    width: 25vw;
                    margin: 0 0 2vw 0; 
                }
            }
        }
    }
    &__conversation {
        width: 100%;
        background-color: $White;
        &__title {
            margin: 0;
            padding: 1.4rem 1rem 0rem 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            @include demi;
            color: $BandSite-Black;
            @include tablet {
                padding: 3rem 2.25rem 1rem 2.25rem;
                font-size: 2.25rem;
                line-height: 2.75rem;
            }
            @include desktop {
                padding: 3.5rem 3rem 2.25rem 8rem;
            }
        }
        &__form {
            display: flex;
            margin: 1rem;
            margin-bottom: 0;
            border-bottom: .1875rem solid $Mercury;
            @include tablet {
                margin: 1rem 6rem;
            }
            @include desktop {
                margin: 1rem 24rem;
            }
            &__avatar {
                &__image {
                    margin: 1.2rem 1rem 0 0;
                    height: 2.25rem;
                    width: 2.25rem;
                    border-radius: 50%;
                    background-image: url(../assets/Images/Mohan-muruge.jpg);
                    background-position:bottom;
                    background-size: cover;
                    @include tablet {
                        height: 3rem;
                        width: 3rem;
                    }
                }
            }
            &__comment {
                display: flex;
                flex-direction: column;
                width: 100%;
                &__name {
                    padding-bottom: .75rem;
                    &__label {
                        font-size: .625rem;
                    }
                    &__box {
                        min-height: 2.25rem;
                        padding: .625rem;
                        font-size: .875rem;
                        @include tablet {
                            min-height: 3rem;
                        }
                    }
                }
                &__comment {
                    padding-bottom: .75rem;
                    &__label {
                        font-size: .625rem;
                    }
                    &__box {
                        min-height: 6.5rem;
                        padding: .625rem;
                        font-size: .875rem;
                        resize: none;
                    }
                }
                &__button {
                    padding-bottom: .75rem;
                    display: flex;
                    justify-content: flex-end;
                    &__button {
                        width: 100%;
                        @include tablet {
                            width: 9.375rem;
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }
                    }
                }
            }
        }
        &__comments {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            margin-top: 0;
            @include tablet {
                margin: 1rem 6rem;
            }
            @include desktop {
                margin: 1rem 24rem;
            }
            &__comment {
                margin-top: 1rem;
                border-bottom: .0625rem solid $Mercury;
                display: flex;
                &__avatar {
                    &__image {
                        margin: 0 1rem 0 0;
                        height: 2.25rem;
                        width: 2.25rem;
                        border-radius: 50%;
                        background-color: $Mercury;
                        @include tablet {
                            height: 3rem;
                            width: 3rem;
                        }
                    }
                }
                &__comment {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    &__name {
                        display: flex;
                        justify-content: space-between;
                        &__name {
                            margin: 0;
                            @include demi;
                            color: $BandSite-Black;
                            font-size: .8125rem;
                            line-height: 1.125rem;
                            @include tablet {
                                margin: 0;
                                padding-bottom: .5rem;
                                font-size: .875rem;
                                line-height: 1.375rem;
                            }
                        }
                        &__date {
                            margin: 0;
                            @include regular;
                            color: $Silver;
                            font-size: .8125rem;
                            line-height: 1.125rem;
                            @include tablet {
                                margin: 0;
                                padding-bottom: .5rem;
                                font-size: .875rem;
                                line-height: 1.375rem;
                            }
                        }
                    }
                    &__text {
                        @include regular;
                        color: $BandSite-Black;
                        font-size: .8125rem;
                        line-height: 1.125rem;
                        @include tablet {
                            margin: 0;
                            font-size: .875rem;
                            line-height: 1.375rem;
                            padding-bottom: 1rem;
                        }
                    }
                    &__like {
                        width: 4rem;
                        height: 1.5rem;
                        margin-bottom: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: baseline;
                        &__button {
                            width: 2.25rem;
                            height: 2.25rem;
                            background-color: $Alabaster;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                background-color: $Mercury;
                            }
                            &__image {
                                height: 1.3rem;
                            }
                        }

                        &__number {
                            margin: 0 0 0 1rem;
                            @include regular;
                            color: $Silver;
                            font-size: .8125rem;
                            line-height: 1.125rem;
                            @include tablet {
                                padding-bottom: .5rem;
                                font-size: .875rem;
                                line-height: 1.375rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
